#flex-1,
#flex-2 {
  margin: 1em 0;
  background-color: purple;
}

.item {
  background-color: yellow;
  padding: 30px;
}

/* FLEX 1 */
#flex-1 {
  max-width: 500px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}




/* flex stuff for the even items in #flex-1 here */
#flex-1 .item:nth-child(even) {
  align-self: center;
}

/* FLEX 2 */
#flex-2 {
  padding: 1em;
  display: flex;
  gap: 1.5em;
}

.triple,
.single {
  padding: 1em;
  background-color: yellow;
}

.triple {
  flex-basis: 75%;
  flex-grow: 3;

}

.single {
  flex-basis: 25%;
  flex-grow: 1;

}

#nested-flex {
  background-color: #bfa0bf;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  background-color: orange;
  height: 150px;
  flex-basis: 100px;
}